@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.main-navigation__title {
  color: white;
  font-family: "Rubik Bubbles", system-ui;
}

.main-navigation__title a {
  text-decoration: none;
  color: #d77a61;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1.5px #472b2342;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }
  .main-navigation__header-nav {
    display: block;
  }
}

@media (max-width: 776px) {
  .main-navigation__title{
    font-size: 3rem;
  }
}

@media (max-width: 437px) {
  .main-navigation__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 366px) {
  .main-navigation__title {
    font-size: 2rem;
  }
}