services:
  frontend:
    build:
      context: ./frontend
    ports:
      - '8080:80'
    restart: always

  backend:
    build:
      context: ./backend
    ports:
      - '5000:5000'
    restart: always
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    restart: always
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: market_password
        POSTGRES_DB: market_db
    ports:
        - '5432:5432'
    volumes:
    - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    - pg_data:/var/lib/postgres/data/

  adminer:
    image: adminer
    restart: always
    ports:
      - '8081:8080'

volumes:
  pg_data:
