
.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #d77a61;
    border-radius: 4px;
    background: #d77a61;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;

  }
  .button:focus {
    outline: none;
  }
  .button:hover {
    background: #d8b4a0;
    border-color: #d8b4a0;
}

.button:active {
    background: #d77a61;
    border-color: #d77a61;
}
  .button--inverse {
    background: transparent;
    color: #d77a61;
  }
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #d8b4a0;
  }
  .button--danger {
    background: #8d3a3a;
    border-color: #8d3a3a;
  }
  .button--danger:hover,
  .button--danger:active {
    background: #4a1f1f;
    border-color: #4a1f1f;
  }
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  .button--small {
    font-size: 0.8rem;
  }
  .button--big {
    font-size: 1.5rem;
  }