
.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #8a817c;
    border-radius: 4px;
    background: #8a817c;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  .button:focus {
    outline: none;
  }
  .button:hover,
  .button:active {
    background: #463f3a;
    border-color: #463f3a;
  }
  .button--inverse {
    background: transparent;
    color: #8a817c;
  }
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #463f3a;
  }
  .button--danger {
    background: #be4f4f;
    border-color: #be4f4f;
  }
  .button--danger:hover,
  .button--danger:active {
    background: #8d3a3a;
    border-color: #8d3a3a;
  }
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  .button--small {
    font-size: 0.8rem;
  }
  .button--big {
    font-size: 1.5rem;
  }