
.item-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
.image__upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.item-form__actions {
  margin: 0 auto;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 395px) {
  .image__upload {
    flex-direction: column;
  }
  .item-form__actions .button--inverse {
    margin-top: 0.5rem;
  }
}