
.item {
    margin: 2rem 0;
  }
  .item__content {
    padding: 0;
  }
  .item__info {
    padding: 1rem;
    text-align: center;
  }
  .item__image {
    width: 100%;
    height: 12.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    text-align: center;
    transition: height 0.3s ease;
  }

  .item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .item__image--scaled {
    height: auto;
  }

  .item__image--scaled img {
    object-fit: contain;
    transform: scale(1.1);
  }
  .item__info h2,
  .item__info h3,
  .-item__actions {
    padding: 1rem;
    text-align: center;
  }

  .item__info h3 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.item__info p,
.item__info h4 {
    margin-top: 0.5rem;
    text-align: center;
}

.item__details-table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.item__details-table td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
}

.item__details-table tr {
  background-color: #f9f9f9;
}
.item__details-table td:first-child {
  width: 30%; /* Set a fixed width for the first column */
  font-weight: bold;
  white-space: nowrap;
}

.item__details-table td:last-child {
  word-wrap: break-word;
  word-break: break-word;
}


.item__modal-content {
  padding: 0;
}
.item__modal-actions {
  text-align: right;
}
.item__actions button,
.item__actions a {
  margin: 0.5rem;
}


@media (min-width: 768px) {
  .item__image {
    height: 20rem;
  }
}

@media (max-width: 768px) {
  .item__details-table {
    width: 100%;
  }
}