
.item-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.heading {
  font-size: 2.5rem;
}

.message {
  font-size: 1rem;
}

.list_empty {
  font-size: 1.5rem;
}
